.header {
  width: 100%;
  padding: 8px 16px;
  background-color: rgb(255, 213, 172);
  color: rgb(29, 29, 29);

  &__auth {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.listVisibility {
  display: flex;
  margin-top: -24px;
  padding-top: 24px;
}