@import "tailwindcss";

:root {
  --background: rgb(235, 235, 235);
  --foreground: rgb(29, 29, 29);
}

@theme dark {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font: var(--font-MedievalSharp); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(235, 235, 235);
    --foreground: rgb(29, 29, 29);
  }
}

* {
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  /* transition: all 0.3s; */
}

/* html {
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  max-width: 100%;
  margin: 0 auto;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

input, textarea {
  background-color: white;
  color: black;
  border: 1px solid black;
}

button {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: .25rem;
  color: black;
  cursor: pointer;
}

textarea {
  border-radius: .25rem;
}

button:hover {
  background-color: gray;
}

.shop-link, .create-book {
  display: block;
  width: 170px;
  margin: 30px;
  padding: 16px;
  background-color: white;
  color: black;
  font-family: inherit;
}

.shop-link:hover, .create-book:hover {
  background-color: gray;
}

body * {
  animation: myAnimation 0.3s ease-out;
}

@keyframes myAnimation {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}