.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 16px;
  width: 100%;
  background-color: rgb(255, 213, 172);
  color: rgb(29, 29, 29);

  &__logo {
    object-position: center;
    color: black;
    background-color: black;
  }

  &__links {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
  }
}