.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  width: 100%;
  background-color: white;
  color: black;

  &__logo {
    object-position: center;
    color: black;
    background-color: black;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}